@* BOX ERRO *@
<section id="conteudo" class="animated zoomInDown cor-degrade-preto">
    <p>
        Ops,<br />
        Algum erro inesperado está acontecendo, desculpe. Por favor, tente mais tarde.<br />
        Forte Abraço!
    </p>
    }
    @* BTN SAIR *@
    <a data-ajax="true" data-ajax-loading="#progress" data-ajax-mode="replace" data-ajax-update="#box-conteudo" href="~/Metalico/CoresInicio">
        <input type="button" value="OK" class="btn" id="btn-ok" />
    </a>
</section>
@* FUNÇÕES QUE SERÃO EXECUTADAS *@
<script type="text/javascript">
    $("#box-retorno").css("display", "block");
</script>

