/* Responsividade:
   
    - Grid Bootstrap:
        col-xs | até 480px
        col-sm | maior igual 768px
        col-md | maior igual 998px
        col-lg | maior igual 1200px
-------------------------------------------------- */

/* ANUNCIO HORIZONTAL
-------------------------------------------------- */
.anuncio-horizontal {
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 0px;
}

.box-horizontal {
    width: 728px;
    height: 90px;
    background-color: #ffffff;
    background-image: url('../../Imagens/GoogleAdSence-Maior.png');
    margin: 0 auto;
    border-bottom: solid 3px #009fe3;
}

@media(min-width: 0px) and (max-width: 997px) {
    .anuncio-horizontal {
        padding: 10px;
    }

    .box-horizontal {
        width: 100%;
        height: 200px;
        background-image: url('../../Imagens/GoogleAdSence-Menor.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}
