@* RODAPÉ *@
<footer class="cor-degrade-preto">
    @* INFORMAÇÕES *@
    <div class="footer-info">
        <div class="container">
            <section class="row">
                <div class="col-xs-12">
                    <p>© 2018 Todos os direitos reservados.</p>
                </div>
            </section>
        </div>
    </div>
</footer>

